.sectionhead{
  /* background-color: var(--color-secondary) ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}



.grid{
  /* background-color: var(--color-secondary); */
}

.section{
  /* margin-bottom: 10px; */
}

.breakline{
  height: 2px;
  background-color: var(--color-primary);
  border: 0px;
}
/* @media screen and () {
  .username-text {
      display: block;
  }
} */